---
const { image, title, link } = Astro.props;
---

<div class="card group relative overflow-hidden rounded-lg shadow-lg hover:shadow-xl transition-all duration-300">
  <img 
    src={image} 
    alt={title}
    class="w-full h-48 object-cover transition-transform duration-500 group-hover:scale-105"
  >
  <div class="p-6 bg-white dark:bg-gray-800">
    <h4 class="text-xl font-bold mb-3 text-gray-800 dark:text-white">{title}</h4>
    <a 
      href={link} 
      target="_blank"
      class="inline-flex items-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-300"
    >
      Leer más
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</div>
