  <section class="publi flex justify-center items-center bg-gray-100 py-2">
    <div class="carousel-container relative w-full h-[90px] md:h-[150px] overflow-hidden">
      <div id="carousel" class="carousel-slides flex transition-transform duration-500 ease-in-out">
        <!-- Las imágenes se cargarán dinámicamente con JavaScript -->
      </div>
      <!-- Indicadores del carousel -->
      <div class="carousel-indicators absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2">
        <button class="carousel-indicator w-2 h-2 md:w-3 md:h-3 rounded-full bg-white bg-opacity-50 border border-white" data-index="0"></button>
        <button class="carousel-indicator w-2 h-2 md:w-3 md:h-3 rounded-full bg-white bg-opacity-50 border border-white" data-index="1"></button>
      </div>
    </div>
  </section>